.tb5 {
    border: 2px solid #456879;
    border-radius: 10px;
    height: 22px;
    width: 230px;
}
a:link {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Segoe UI';
    color: black;
    font-style: normal;
    
}

a:hover {
    font-size: 20px; /*İmleç Üzerine Geldiğinde Yazı Büyümesi için*/
    color: white;
}
